h2.text-uppercase{
    margin-top: 1em;
    font-size: 56px;
}

.inputRow{
    margin-top: 3%;
    margin-left: 18%;
    margin-right: 3%;
    padding: 3% ;
    background-color: rgba(99, 99, 98, 0.06);

}
.outputIncome{
    margin-top: 5em;
    margin-left: 1%;
    padding: 3% ;
    background-color: rgba(99, 99, 98, 0.06);
    height: fit-content;

    border-left: 5px solid #fcba03;
}
.outputResult{

    margin-left: 47%;
    padding-left: 5% ;
    padding-right: 5%;
    padding-top: 3%;
    background-color: rgba(99, 99, 98, 0.06);
}
.calculate{
    background-color: #000000;
    color: #ebe8e8;

}
h5.number{
    margin-left: 10em;
}
h6.number{
    margin-left: 10em;
}

@media only screen and (max-width: 900px) {

    .container-title h2{
        font-size: 20px;
    }

}
@media only screen and (max-width: 400px) {

    .inputRow{
        margin: auto;
    }
    .outputResult{
        margin: auto;

    }
    .outputIncome{
        margin-top: 10% ;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10%;
    }
h5.number{
    margin-left: 5em;
}
h6.number{
    margin-left: 5em;
}


}
